notes.txt
node_modules
git.txt
package-lock.json
errors.txt
router
listings.js
mongost.txt
MongoAggregation.txt
# dotenv environment variables file
.env
.env.test
.env.production

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
