<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h1>Add New Listing</h1>
            <form action="/listings" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label><br>
                    <input id="title" name="listing[title]" type="text" placeholder="Enter title" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please select a valid Title.
                    </div>
                    <div class="valid-feedback">
                        A valid Title
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label><br>
                    <textarea style="resize: none;" rows="5" cols="18" id="description" class="form-control"
                        name="listing[description]" placeholder="Enter description" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a description.
                    </div>
                    <div class="valid-feedback">
                        A valid description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label><br>
                    <input id="image" class="form-control" type="text" name="listing[image][url]">

                </div>

                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price</label><br>
                        <input id="price" class="form-control" type="number" name="listing[price]"
                            placeholder="Enter price" required>
                        <div class="invalid-feedback">
                            Please provide a price.
                        </div>
                        <div class="valid-feedback">
                             a valid price tag.
                        </div>
                        
                    </div>
                    <div class="mb-3 col-md-7">
                        <label for="country" class="form-label">Country</label><br>
                        <input id="country" class="form-control" type="text" name="listing[country]"
                            placeholder="Enter country" required>
                        <div class="invalid-feedback">
                            Please provide a country.
                        </div>
                        <div class="valid-feedback">
                             provided a valid country.
                        </div>
    
                    </div>
                </div>
                <div class="mb-3 ">
                    <label for="location" class="form-label">Location</label><br>
                    <input id="location" class="form-control" type="text" name="listing[location]"
                        placeholder="Enter location" required>
                        <div class="invalid-feedback">
                            Please select your location.
                        </div>
                        <div class="valid-feedback">
                             your location is selected.
                        </div>
                </div>

                <br>
                <div>
                    <button class="btn add-btn btn-dark " type="submit">Add Listing</button>
                </div>
            </form>
        </div>
    </div>

    <!-- <script src="/js/script.js"></script> -->