<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2" style="font-family: 'Poppins', sans-serif;">
        <h2 style="color: white; border: 2px solid black; border-radius: 20px; text-align: center; padding: 1vw; background-color: brown; "><b>Sign Up</b> on Wanderlust platform</h2>
        <hr>
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a username.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="valid-feedback">
                    Email looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid email address.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required minlength="6">
                <div class="valid-feedback">
                    Password is strong!
                </div>
                <div class="invalid-feedback">
                    Please provide a password with at least 6 characters.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>


